<% include head %>

<h1><%= username %></h1>
<a href="/changes">Account settings</a>
<p>
    <h3><%= firstname %> <%= lastname %></h3>
<p>
<p>
    <h3><%= email %></h3>
</p>
<p>
    <label><%= birthdate %></label>
</p>
<p>
    <label><%= city %></label>
</p>
<p>
    <canvas id="preview" width="25" height="25" style="background-color:<%= color %>"></canvas>
</p>
<p>
    <a href="/logout">Logout</a>
</p>
<a href="/">home</a>
<a href="/login">login</a>
<a href="/register">register</a>
<% include foot %>