<% var title = 'Profile' %>
<% include head %>

<h1>Profile</h1>
<a href="/changes">Account settings</a>
<p>
    <label>Logged as </label><label><%= username %></label>
</p>
<p>
    <label>First name: </label><label><%= firstname %></label>
<p>
<p>
    <label>Last name: </label><label><%= lastname %></label>
<p>
<p>
    <label>email: </label><label><%= email %></label>
</p>
<p>
    <label>birthdate: </label><input type="date" value="<%= birthdate %>" disabled>
</p>
<p>
    <label>city: </label><label><%= city %></label>
</p>
<p>
    <label>color: </label><input type="color" value="<%= color %>" disabled>
</p>
<p>
    <a href="/logout">Logout</a>
</p>
<a href="/">home</a>
<a href="/login">login</a>
<a href="/register">register</a>
<% include foot %>