<% include head %>
<script>
    <% function convertDate(inputFormat) {
        function pad(s) { return (s < 10) ? '0' + s : s; }
        var d = new Date(inputFormat);
        return [pad(d.getDate()), pad(d.getMonth()+1), d.getFullYear()].join('/');
    } %>
</script>

<h1><%= username %></h1>
<a href="/changes">Account settings</a>
<p>
    <h3><%= firstname %> <%= lastname %></h3>
<p>
<p>
    <h3><%= email %></h3>
</p>
<p>
    <label>Birthdate: <%= convertDate(birthdate) %></label>
</p>
<p>
    <label>Address: <%= city %></label>
</p>
<p>
    <label>Size: <%= size %> cm</label>
</p>
<p>
    <canvas id="preview" width="25" height="25" style="background-color:<%= color %>"></canvas>
</p>
<p>
    <a href="/logout">Logout</a>
</p>
<a href="/">home</a>
<a href="/login">login</a>
<a href="/register">register</a>
<% include foot %>